<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" type="text/css" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">HostDefense</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Hosts</a>
        </li>
      </ul>
      <a class="btn btn-info" role="button" href="{{ url_for('logout') }}">Log Out</a>
    </div>
  </nav>

  <main role="main" class="jumbotron container-fluid p-6">
    <br><br>

    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry form-group">
      <dl>
        <dt>Hostip:</dt>
        <dd><input type="text" size="30" name="host_ip" class="form-control col-sm-4"></dd>
        <dt>Alarming:</dt>
        <dd><textarea name="alarming" rows="5" cols="40" class="form-control col-sm-4"></textarea></dd>
        <dt>Remediation:</dt>
        <dd><input type="text" size="30" name="remediation" class="form-control col-sm-4"></dd>
        <br><br>
        <dd><input type="submit" class="btn btn-primary" value="Share"></dd>
      </dl>
    </form>

    <br>

    <ul class="entries">
      {% for entry in entries %}
        <li class="entry"><h2 id="{{ entry.post_id }}">{{ entry.host_ip }} - {{ entry.remediation }}</h2>{{ entry.alarming|safe }}</li>
      {% else %}
        <li><em>No entries yet. Add some!</em></li>
      {% endfor %}
    </ul>
    
    <form action="{{ url_for('search') }}" method="get" class="from-group">
        <dl>
          <dt>Search:</dt>
          <dd><input type="text" name="query" class="form-control col-sm-4" ></dd>
          <br>
          <dd><input type="submit" class="btn btn-info" value="Search" ></dd>
        </dl>
      </form>

  </main>

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>

</body>
    
<footer class="container-fluid">
  <p>&copy; AppDefense - VMware, Inc.</p>
</footer>

</html>
